.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"} x
  %h4#myModalLabel.modal-title Add new user!
.modal-body
  = render 'form'
.modal-footer
  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close