%h1 Users Index

= link_to 'Add user', new_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#new-modal-window', class: 'btn btn-success'} 

#new-modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = render "new"
     
#show-modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = render "show"


= render :partial => "table"
